{% extends "base.html" %}
{% block content %}
<h3>Exam Photo Cards</h3>
<div class="row">
    {% for student in students %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <img src="{{ url_for('static', filename='uploads/' + student.photo) }}" class="card-img-top" alt="Photo">
            <div class="card-body">
                <h5 class="card-title">{{ student.first_name }} {{ student.last_name }}</h5>
                <p class="card-text">
                    School: {{ student.school.name }}<br>
                    Exam Year: 2026<br>
                    Exam Type: QE/BECE
                </p>
                <button class="btn btn-primary btn-sm">Print Card</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
